---
layout: page
---

{{ content }}

<style>
  /* Add CSS code here */
  .lecture-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .lecture-table th, .lecture-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .lecture-table th {
    background-color: #828282;
    color: white;
  }
  
  .lecture-thumbnail {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  
  .lecture-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }
  
  .markdown-content {
    margin-top: 3px;
  }
  
  .lecture-title {
    text-align: left;
  }
  
  .lecture-title h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .lecture-summary {
    font-size: 0.9rem;
  }
</style>

<br/>

<table class="lecture-table">
  <thead>
    <tr>
      <th class="lecture-title">Lecture</th>
      <th class="lecture-summary">Lecture Summary</th>
    </tr>
  </thead>
  <tbody>
    {% for lecture in site.lectures %}
    <tr>
      <td class="lecture-title">
        {% if lecture.thumbnail %}
        <div class="lecture-thumbnail" style="background-image: url('{{ lecture.thumbnail | prepend: site.baseurl }}');"></div>
        {% endif %}
        <div class="lecture-info">
          <h2>{{ lecture.title }}</h2>
        </div>
      </td>
      <td class="lecture-summary">
        {{ lecture.tldr }}
        <br/>
        <strong>
        {% include lecture_links.html lecture=lecture %}
        </strong>
        {% if lecture.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ lecture.content }}
        </div>
        {% endif %} 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
